@media only screen and (max-width:1093px){
    .nav-list{
        flex-direction: column;
        text-align: left;
        align-items: left; 
        margin: 2rem 0rem 0 38rem;
        padding: 8px;
        
    }
    
    .navbar{
        flex-direction: column;
        height:18rem;
        transition:all 0.38s ease-out;
        width:27rem; 
        position: relative;
        margin:7rem 0rem 0 -12.5rem;
    }
    
    #logo{
        margin:0 0 0 2rem;
        display:flex;
    }
    .line{
        border-radius:30px;
    }
    .burger{
        display:block;
        margin:-5.5rem 2rem 0 0;
    }
    .h-nav{
        height:0px;
    }
    .v-class{
        opacity:0;
    }
    
    .nav-list li{
        list-style: none;
        padding:26px 30px;
        margin-top:-1.5rem;
    }
    
    .nav-list li a{
        text-decoration: none;
        color:rgb(253, 251, 251);
        font-size: 20px;
        font-size: 20px;
        font-family:'montserrat';
        font-weight: 55a0;
    }
    .nav-list li a:hover{
        text-decoration: none;
        background-color:rgb(214, 50, 105);
        padding: 4px;
        border-radius: 10%;
    }
    
    .background{
            margin-left:0rem;
            background:url('image 2.png');
            background-size: cover;
            
    }
    .box-main{
        height:400px;
        width:20rem;
    }
    
    .text-big{
        font-size: 25px;
        margin-top: 9rem;
        margin-left: 9rem;
        font-family: 'lora';
        width:26rem;
        text-align:center;
        font-weight: bolder;
    }
    .text-small{
        font-size:16px;
        font-family: 'roboto';
        margin-left: 9rem;
        font-weight: bolder;
        margin-top:-1rem;
        width:26rem;
    }
    .btn{
        margin:0 0 0 18.5rem;
    }
    .btn:hover{
        transition:0.1s;
        font-size:20px;
        background-color: palevioletred;
        width:200px;
        font-weight:450;    
    }
    .section{
        margin:rem 0 0 3.2rem;
        height:50rem;
        flex-direction: column;       
    }
    .sectionTag{
        text-align: center;
        width:20rem;
    }
    .sectionSubTag{
        text-align: center;
        width:300px;
    }
    .imgFluid{
        transition: all 0.5s ease-out;
        margin-top:15rem;
        max-width: 46vh;
        max-height:35vh;
        
    }
    .paras .sectionTag{
        margin: 15rem 0 0 3rem;
    }
    .paras .sectionSubTag{
        margin: 1rem 0 0 3rem;
    }
    .left .paras {
        margin: rem 5.5rem 0 0rem;
    }

    .bestsellers{
        margin:15rem 0 0 -2.4rem;
        display: flex;
        flex-direction: column;
    }
    .bestsellers .text-big{
        margin:10rem 0 0 5rem;
        text-align:center;
        width:20rem;
    }
    .bestseller-img:hover{
        box-shadow: 30px 40px 20px 0 rgba(0, 0, 0, 0.2), 30px 10px 30px 0 rgba(0, 0, 0, 0.19), 10px 10px 10px 10px pink;
    
    }
    .bestseller-card{
        margin:2rem 0 0 0;
    }    
    .reviews{
        margin:5rem 0 0 -2.5rem;
        display: flex;
        flex-direction: column;
        padding:20px;
    }
    .reviews .text-big{
        margin:5rem 0rem 0 3.8rem;
        text-align:center;
        width:20rem;
    }
    .review-card{
        margin:2rem 0 2rem 0;
        width:15rem;
    }
    footer{
        width:25.2rem;
        margin-bottom: 0px;
        max-width: 100vh;
    }
    #footernav{
        margin:0 0 0 0;
        font-size:12px;
    }
    #footershop{
        margin: -12.5rem 0 0 7rem;
        font-size:12px;
    }
    #footerdetails{
        margin: -15rem 0 0 15rem;
        font-size:12px;
    }
    .text-footer{
        margin:4rem 0 0 0;
        font-size:14px;
    }
    .about-section{
        display: flex;
        flex-direction: column;
        width:17rem;
        margin-top:5rem;
        margin-left:5rem;
        margin-bottom: 2rem;
        text-align: justify;
    }
    
    .about-section h1{
        font-size:55px;
        margin-bottom:1rem;
        margin-top:-2rem;
        color:rgb(179, 75, 110);
    }
    
    
    .about-section p{
        font-size:15px;
        margin-bottom:4rem;
        color:rgb(106, 28, 54);
    }
    #image{
        background-color: rgb(247, 241, 244);
        padding: 2px;
        border-radius: 50%;
        width:45rem;
        height:40rem;
        margin-bottom: 5rem;
        margin-left:-5rem;
        box-shadow:  5px 10px rgb(218, 179, 198);
    }
    .about-section img{
        height:20rem;
        margin-left:5rem;
        margin-top:30rem;
        display: flex;
        border-radius: 50%;
        box-shadow: 5px 10px rgb(218, 179, 198);
    }
    
    .paragraphs{
        margin-top:-40rem;
        width:20rem;
        margin-left:4rem;
        text-align: center;
        font-size:2px;
    }
    #absection3{
        margin-top:15rem;
    }
    
    .card{
        height:30rem;
        width:18rem;
        margin:2rem 0 5rem -1rem;
    }
    .card:hover{
        padding: 11px;
        width:19rem;
        box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px 20px rgba(0, 0, 0, 0.19) 0 20px 20px 15px rgb(49, 7, 21);
    }
    .card img{
        margin-bottom: 1rem;
        height: 13rem;
        width:17rem;
    }

    
    .row{
        display: flex;
        flex-direction: column;
        margin:2rem 3rem 0 4rem;
    }
    
    .heading{
        font-size:3.5vh;
        margin: 4rem 0 0 -1.5rem;
        width:28rem;
    }
    #prodList{
        margin:5rem 0 0 8rem;
        flex-direction: column;
        text-align:center;
    }
    #prodList li {
        margin:1.5rem 0 0 -8rem;
    }
    .contact-h1{
        margin:1rem 0 0 -1rem;
        font-size:40px;
        font-family: 'montserrat';
    }
    #contact-details{
        margin:3rem 2rem 0 4rem;
        font-size:20px;
    }
    #map{
        width:20rem;
        height:20rem;
        margin:2rem 0 0 1.5rem;
    }
    .social-icons{
        margin:1rem 0 0 7rem;
    }
    #top{
        margin:7rem 0 0 9rem;
    }
}
